@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.producto-titulo, .producto-precio {
    font-family: 'Quicksand', sans-serif;
}

.texto {
    text-align: justify;
}

.box {
    padding: 1rem;
    margin: 1.5rem;
    border: 0.1rem solid #9d8189;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
}