header{
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;


}
img{
    padding: 22.7px;
    background-color: #282c34;
    width: 40px;
    height: 40px;
    float: left;
    
}

a{
    padding: 3px;
}
